# Tutorial10_Submission

This notebook contains the submission for Tutorial 10

# Problem Description

A an object of mass, $m$ (in $kg$), sits on a surface. Two horizontal forces are applied, expressed in terms of $f_1$ and $f_2$ (in $N$), with respective angles $f_{1ang}$ and $f_{2ang}$ degrees, defined positive with respect to the x-axis in the anticlockwise direction. 

We can to predict if this will slip or not.

# Libraries

In [14]:
# data related

import pandas as pd
from pandas_profiling import ProfileReport

# mathematical

import numpy as np

# Data

In [3]:
path = '../Data/'

df_1 = pd.read_csv(path + 'slip_data.csv')
df_2 = pd.read_csv(path + 'slip_data_full.csv')

In [4]:
# see dataset 1 
df_1.head()

     f1  f1ang         f2       f2ang    m  slips
0  18.0   20.0  21.952540  213.436897  3.0    0.0
1  18.0   20.0  28.607575    3.622930  3.0    1.0
2  18.0   20.0  24.110535  171.297431  3.0    0.0
3  18.0   20.0  21.795327  255.157341  3.0    1.0
4  18.0   20.0  16.946192   15.831156  3.0    1.0

In [5]:
# see dataset 2
df_2.head()

          f1       f1ang         f2       f2ang    m  slips
0  21.952540  269.376473  15.686918  272.925150  3.0    1.0
1  28.607575   64.872975   1.646263  181.194664  3.0    1.0
2  24.110535  140.048332  36.932023   63.725999  3.0    1.0
3  21.795327   13.536065  16.249399  299.713142  3.0    1.0
4  16.946192    4.243586  37.771287  186.056921  3.0    1.0

### Exploration of data

In [16]:
# create profile report of the data
""" Commented as profile report has already been created """
#df1_profile = ProfileReport(df_1, title="slip_data profile", explorative = True)
#df1_profile.to_file("../Reports/slip_data.html")

#df2_profile = ProfileReport(df_2, title="slip_data_full profile", explorative = True)
#df2_profile.to_file("../Reports/slip_data_full.html")

' Commented as profile report has already been created '

### Analysis of profile report

- Both datasets have a class imbalance problem, where 'slip' is more likely to occur than no slip (this makes sense because of the combination of the angles and forces chosen).

- Both always have mass constant as $m=3\, kg$

- The difference between dataset 1 and 2 is that the former fixes the values of $f_1$ and $f_{1ang}$

This is an interesting problem.

# Task (A)